* {
    box-sizing: border-box;
}

a{
    color: #ffffff;
}
/* nav bar */

.nav>li>a:hover{
    background:none;
    color: #aaaaaa;
}

.navbar-inverse{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*nav bar end */

.background-image {
    background: #ffffff url("../../media/images/fond.jpeg") no-repeat;
    background-size: cover;
    display: block;
    /*filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -webkit-filter: blur(2px);*/
    height: 100%;
    width:100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -9999;
    transform: scale(1.02);
}

.liste {
    position: relative;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    white-space: normal;
}


.transparent{
    margin-top: 100px;
    background: rgba(255,255,255,0.9);
    border: solid thin #ffffff;
    overflow: hidden;
}

/* liste */

#liste{
    color: #000;
    margin-bottom: 60px;
}

#liste>table{
    color: #000;
}

/* fin liste */