* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #f9f2f4;
}
/* nav bar */

.nav>li>a:hover{
    background:none;
    color: #aaaaaa;
}

.navbar-inverse{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar {
    padding-right: 10px;
}

.navbar-default{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand {
    padding-top: 10px;
    margin-left: 15px;
}

.navbar-collapse.collapse.in {
    margin-left: 0;
    text-align: center;
}

/*nav bar end */

.background-image {
    background: #ffffff url("../../media/images/fond.jpeg") no-repeat;
    background-size: cover;
    display: block;
    /*filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -webkit-filter: blur(2px);*/
    height: 100%;
    width:100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -9999;
    transform: scale(1.02);
}

.centered {
    text-align: center;
}

.centered_bottom {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.btn{
    white-space: normal;
}


.transparent{
    margin-top: 50px;
    background: rgba(255,255,255,0.9);
    border: solid thin #ffffff;
    overflow: hidden;
}

/* liste */

#liste{
    color: #000;
}

#liste>table{
    color: #000;
}

/* fin liste */

/* home */


.container-fluid h1.h1{
    color: #ffffff;
    font-family: "Calibri Light";
    text-transform: uppercase;
    text-align: inherit;
}

.search-panel button{
    padding: 20px;
    padding: 20px;
    font-size: x-large;
}

.supported{
    overflow: hidden;
    padding: 2em;
    -moz-box-shadow: 2px 2px 5px 0px #343434;
    -webkit-box-shadow: 2px 2px 5px 0px #343434;
    -o-box-shadow: 2px 2px 5px 0px #343434;
    box-shadow: 2px 2px 5px 0px #343434;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=5);
}


.centered.container-fluid {
    margin-top:40vh;
}
/* fin home */

.material_button {
    border-radius: 0;
    border:none;
}

.search-panel button{
}

button.submit {
    background-color: #122b40;
}

/* footer */
footer .panel-footer{
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}

footer p{
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}

.polytech {
    margin-right: 20px;
}

/* fin footer */
.map {
    height: 100%;
}
.map_container {
    margin-top:50px;
}

input[type=text] {
    border-radius: 0;
}

collapsed {
    color: #ffffff;
}
ul.dropdown-menu {
    border-radius: 0;
    border:none;
    text-align: center;
}